.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
  text-align: center;
  font-family: monospace;
  max-width: 900px;
  margin: 100px auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  gap: 35px;
}

.heading {
  grid-column: 1 / span 5;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

body:not([theme='Light']) {
  background: var(--dark-surface-background);
  color: var(--light-surface-background);
}

body:not([theme='Dark']) {
  background: var(--light-surface-background);
  color: var(--dark-surface-background);
}

uds-button > span {
  text-wrap: nowrap;
}